/* Root Variables */

/* Universal Selectors */

/* Element Selectors */

/* Class Selectors */
.hidden {
    display: none;
}

.show {
    display: block;
}

.custom-header {
    background-color: blue;
    padding: 15px 0 5px 0;
    font-size: 35px; 
}

.custom-line-height {
    line-height: 50px;
}

.custom-border {
    padding: 15px;
    margin-top: 10px;
}

.custom-text {
    font-size:30px;
}

.custom-search {
    padding: 10px;
}

.custom-five-day {
    margin-top: 20px;
    margin-right: 10px;
}

.day {
    background-color: darkblue;
}

.custom-small-text{
    font-size: 13px;
}

.lowUV {
    background: rgb(137, 156, 137);
    padding: 5px;
    color: white;
}

.modUV {
    background: rgb(248, 216, 4);
    padding: 5px;
    color: white;
}

.hiUV {
    background-color: orange;
    padding: 5px;
    color: white;
}

.vhiUV {
    background-color: red;
    padding: 5px;
    color: white;
}

.exUV {
    background-color: rgb(147, 55, 154);
    padding: 5px;
    color: white;
}

/* ID Selectors */


/* Media Queries */